Options -Indexes

RewriteEngine On

# Primero: redirigir mail al webmail
RewriteCond %{HTTP_HOST} ^mail\.prefabricadaselalba\.cl$ [NC]
RewriteRule ^(.*)$ https://prefabricadaselalba.cl:2096/ [R=301,L]

# Después: si no existe archivo o carpeta, ir al home
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ / [R=302,L]