Options -Indexes

RewriteEngine On

# Primero: redirigir mail al webmail
RewriteCond %{HTTP_HOST} ^mail\.prefabricadaselalba\.cl$ [NC]
RewriteRule ^ https://mail.prefabricadaselalba.cl%{REQUEST_URI} [L,R=301]

# Segundo: forzar siempre www
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} !^mail\. [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]